body{
    text-align: center;
    background: #d90429;
}
nav{
    position: absolute;
    top: 100px;
    right: 75px;
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 15px;
    font-size: 20px;
    color: #000000;
}
nav a:hover{
    font-size: 22px;
    font-weight: bold;
    color: rgb(244, 231, 244);
    transition: 0.5s;
}
h3{
    text-align: left;
}
.logo{
    width: 15%;
    border-radius: 100%;
}
.capa{
    width: 100%;
}
.beneficios{
    background-color: antiquewhite;
    text-align: left;
}
ul{
    display: inline-block;
    vertical-align: top;
    font-size: 25px ;
    margin-right: 400px;
}
li{
    padding: 20px;
}
.foto-beneficios{
    width: 30%;
 }